<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GBC Restaurant - Driver</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    {{{body}}}

    <!-- LOGIN -->
    <main>
        <div class="container">
          <form action="/login" method="post">
            <div class="highlight-container title-l text-center">Driver Log in</div>
            <label class="field-label" for="username">Username</label>
            <input type="text" name="username" placeholder="Enter the driver username">

            <label class="field-label" for="password">Password</label>
            <input type="password" name="password" placeholder="Enter the driver Password">
                
            <button class="bg-blue" type="submit">LOG IN</button>
          </form>
        </div>
    </main>
  </body>
</html>