<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GBC Restaurant - Driver</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    {{{body}}}

    <!-- LOGIN -->
    <main>
      <div class="container">
        <form class="form-login bg-dark" action="/login" method="post">
          <div class="highlight-container title-l text-center">Driver Log in</div>
          <label class="field-label" for="username">Username</label>
          <input class="input" type="text" name="username" placeholder="Enter the driver username">

          <label class="field-label" for="password">Password</label>
          <input class="input" type="password" name="password" placeholder="Enter the driver Password">

          {{#if message}}
            <div class="error-message describe text-center">{{{message}}}</div>
          {{/if}}
          
          {{#if createdMessage}}
            <div class="success-message describe text-center">{{{createdMessage}}}</div>
          {{/if}}
          
          <button id="btn-log-in" class="bg-blue" type="submit">LOG IN</button>
        </form>

        <form class="form-login bg-dark" action="/sign-up" method="get">
          <div class="highlight-container title-m text-center">Become a driver today!</div>
          <button id="btn-log-in" class="bg-blue" type="submit">SIGN UP</button>
        </form>
      </div>
    </main>
  </body>
</html>