<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GBC Restaurant - Driver</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    {{{body}}}

    <!-- LOGIN -->
    <main>
      <div class="container">
        <form class="form-login bg-dark" action="/sign-up" method="post">
          <div class="highlight-container title-l text-center">Driver Sign Up</div>
          <label class="field-label" for="fullname">Full Name</label>
          <input type="text" name="fullname" placeholder="Enter the driver full name">

          <label class="field-label" for="phone">Phone</label>
          <input type="text" name="phone" placeholder="Enter the driver phone">
          
          <label class="field-label" for="license_plate">License Plate</label>
          <input type="text" name="license_plate" placeholder="Enter the driver license plate">
          
          <label class="field-label" for="vehicle_model">Vehicle Model</label>
          <input type="text" name="vehicle_model" placeholder="Enter the driver vehicle model">

          <label class="field-label" for="vehicle_color">Vehicle Color</label>
          <input type="text" name="vehicle_color" placeholder="Enter the driver vehicle color">
          
          <label class="field-label" for="username">Username</label>
          <input type="text" name="username" placeholder="Enter the driver username">

          <label class="field-label" for="password">Password</label>
          <input type="password" name="password" placeholder="Enter the driver Password">

          {{#if message}}
            <div class="error-message describe text-center">
              {{{message}}}
            </div>
          {{/if}}

          <button id="btn-log-in" class="bg-blue" type="submit">SIGN UP</button>
        </form>

        <form class="form-login bg-dark" action="/" method="get">
          <div class="highlight-container title-m text-center">Not now? No problem!</div>
          <button id="btn-log-in" class="bg-blue" type="submit">Home Page</button>
        </form>
      </div>
    </main>
  </body>
</html>