<header>
    <div class="text-center">
        <div class="title-m">WELCOME TO</div>
        <div class="title-xl text-green">GBC Prime Music</div>
    </div>
    <div class="text-center menu-items">
        <a href="/">HOME</a></li>
        <a href="/playlist">MY PLAYLIST</a>
    </div>
</header>